* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background: rgb(170, 192, 255);
  background: linear-gradient(
    90deg,
    rgba(170, 192, 255, 1) 45%,
    rgba(164, 255, 213, 1) 80%
  );
}
.header {
  text-align: center;
}
.form-user {
  background-color: #fff;
  width: 600px;
  margin: 50px auto;
  border-radius: 12px;
  padding: 20px;
}

.form-user input {
  padding: 6px 12px;

  margin: 4px;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
}
.form-user button {
  padding: 10px 19px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  margin: 8px auto;

  color: #fff;
  width: 150px;
}
.submit {
  background-color: rgb(4, 54, 189);
}
.form-content {
  display: flex;
  flex-direction: column;

  padding: 10px;
}
.username-list {
  margin: 50px auto;
}
.usernames {
  background-color: #fff;
  padding: 10px;
}
.usernames h3 {
  text-align: center;
}
.randome-section {
  height: 40vh;
  color: #fff;
  text-align: center;
}
.random-selector {
  padding: 11px 17px;
  margin: 3rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
}
.delete {
  background-color: red;
  color: #fff;
  margin-left: 30px;
}
.username-gen {
  display: flex;
  justify-content: space-between;
  align-self: center;
  border: 3px solid #999;
  padding: 0.3rem;
  margin-bottom: 0.1rem;
}
.random-p {
  background-color: #fff;
  color: #333;
  width: 300px;
  margin: 10px auto;
  padding: 1rem;
  text-transform: capitalize;
}
